
#C88ECMVehicleLoanCalcuContainer, .loanCalculatorMainContent {
    /*height:99%;
    min-height: 790px;*/
    font-family:sans-serif;
}
#calculatorLoad {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
      margin: auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**UI AUTOCOMPLETE DROPDOWN*/
.ui-menu .ui-menu-item a {
    color: #000000;
}

.imageHolder {
    display: none;
    float: right;
}

    .imageHolder .imageContent {
        background-color: #CCC;
        width: 96px;
        height: 96px;
    }

.actionButtonGroup {
    float: left;
    width: 96%;
    clear: both;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 0px;
    padding-top: 1px;
}

    .actionButtonGroup > .top {
        display: none;
    }

    .actionButtonGroup > .middle {
        display: block;
        float: none;
        clear: both;
    }

        .actionButtonGroup > .middle > .middleLeft {
            display: none;
            float: left;
            width: 16px;
            height: 24px;
        }

        .actionButtonGroup > .middle > .middleCenter {
            display: inline;
            float: left;
        }

        .actionButtonGroup > .middle > .middleRight {
            display: none;
            float: left;
            width: 16px;
            height: 24px;
        }

    .actionButtonGroup > .bottom {
        display: none;
    }



.validationSummaryErrors {
    display: none;
}

.fieldValidationError {
    display: block;
    margin: 0 0 0 216px;
    clear: both;
    font-size: 10px;
    color: Red;
}

.mainContent > .middle > .middleCenter {
    padding: 8px 0 24px;
}

#MessageBoxDialog {
    padding: 10px;
}

    #MessageBoxDialog .messageBoxIcon {
        /*width: 64px;
        height: 64px;
        float: left;*/
    }

        #MessageBoxDialog .messageBoxIcon[data-messageboxicon=critical] {
            /*background: url(Images/FederationWorkspace/ExceptionHandling/PgErrorIcon-64.png) center center no-repeat;*/
        }

        #MessageBoxDialog .messageBoxIcon[data-messageboxicon=question] {
            /*background: url(Images/Common/Information-64.png) center center no-repeat;*/
        }

        #MessageBoxDialog .messageBoxIcon[data-messageboxicon=exclamation] {
            /*background: url(Images/Default/generic_noicondefault_64x64.png) center center no-repeat;*/
            margin-right: 8px;
        }

        #MessageBoxDialog .messageBoxIcon[data-messageboxicon=information] {
            /*background: url(Images/Common/Information-64.png) center center no-repeat;*/
        }

    #MessageBoxDialog .messageBoxTitle {
        margin: 16px 5px 2px 0;
    }

    #MessageBoxDialog .messageBoxDescription {
    }



.ui-tabs .ui-tabs-nav {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #E5E5E5;
    border-left: none;
    background: #A778B4;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: none;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
}

.actionButtonGroup > .top {
    display: none;
}

.actionButtonGroup > .middle > .middleCenter {
    text-align: right;
    margin-right: 0px;
}

/*----------------------------- begin property div -------------------------------*/

.propertyDiv {
    clear: both;
    float: left;
    width: 100%;
    text-align: center;
    margin: 8px 0;
}

    .propertyDiv > .propertyNameLabel {
        float: left;
        text-align: left;
        width: 168px;
        line-height: 24px;
        /*margin: 8px 16px;
        padding: 0 4px;*/
        white-space: nowrap;
            vertical-align: middle;
    padding-top: 8px;
        width: 30%;
    display: inline-block;
    float: none;
    }

    .propertyDiv > .propertyDisplayValueTextBox, .propertyDiv > .propertyValueTextBox {
    height: 40px;
    vertical-align: middle;
    border: 2px solid #96999e;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 8px;
            width: 70%;
    display: inline-block;
    float: none;
    max-width: 100%;
    }

    .propertyDiv > .propertyDisplayValueDropDownList {
        float: left;
        text-align: left;
        width: 51%;
        line-height: 24px;
        height: 26px;
        margin: 8px 0 0 8px;
        border: 1px solid #AAA;
        background-color: #FFF;
    }

    .propertyDiv > .propertyValueCheckBox {
        float: left;
        height: 26px;
        margin: 8px 0 0 8px;
    }

    .propertyDiv > .propertyValueTextArea {
    }

    .propertyDiv > .propertyKeyValueDropDownList, .propertyDiv > .propertyKeyValueTextBox {
        display: none;
    }

    .propertyDiv > .propertyContextMenuButton {

    }

        .propertyDiv > .propertyContextMenuButton:hover {

        }


        .propertyDiv > .propertyContextMenuButton > img {
            display: none;
        }


        .propertyDiv > .propertyContextMenuButton > span {
            display: none;
        }

.propertyPopover > .propertyPopoverIcon {
    float: left;

    width: 16px;
    height: 24px;
    padding-top: 4px;
}

.propertyPopover > .propertyPopoverTitle {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 8px 24px;
}

.propertyPopover > .propertyPopoverDescription {
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 0 0 24px;
}

.propertyDiv > .propertyAlertLabel {
    display: none;
    margin: 0 0 0 216px;
    clear: both;
    font-size: 10px;
}

.propertyAlertLabel.fail {
    display: block;
    color: Red;
}

.propertyDiv .propertyNotification {
    display: none;
    clear: both;
}

.propertyDiv .propertyNotificationIcon {
    float: left;
    width: 16px;
    height: 16px;
    margin: 6px 4px 4px 2px;
}

    .propertyDiv .propertyNotificationIcon[data-propertynotificationicon=information] {

    }

    .propertyDiv .propertyNotificationIcon[data-propertynotificationicon=warning] {
       
    }

    .propertyDiv .propertyNotificationIcon[data-propertynotificationicon=error] {
        
    }

    .propertyDiv .propertyNotificationIcon[data-propertynotificationicon=success] {
      
    }

    .propertyDiv .propertyNotificationIcon[data-propertynotificationicon=progress] {
   
    }

.propertyDiv .propertyNotificationMessage {
    font-size: 11px;
    float: left;
    padding-top: 4px 0;
}

    .propertyDiv .propertyNotificationMessage[data-propertynotificationmessage=information], .propertyNotificationMessage[data-propertynotificationmessage=warning] {
        color: #000;
    }

    .propertyDiv .propertyNotificationMessage[data-propertynotificationmessage=error] {
        color: red;
    }

    .propertyDiv .propertyNotificationMessage[data-propertynotificationmessage=progress] {
        color: #000;
    }

    .propertyDiv .propertyNotificationMessage[data-propertynotificationmessage=success] {
        color: #438a1a;
    }

/*----------------------------- end property div -------------------------------*/
/*----------------------------begin image upload-----------------------*/

#ImageUrlFileUploadContainer {
    padding: 0;
    width: 12%;
    display: inline-block;
    text-align: center;
}

#ImageUrlFileUploadNotification {
    padding: 8px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

    #ImageUrlFileUploadNotification ul {
        line-height: 1.5;
        font-size: 0.8em;
        width: 38%;
    }

        #ImageUrlFileUploadNotification ul li {
            margin-bottom: 10px;
        }

#HeaderImageUrlFileUploadContainer {
    padding: 0;
    width: 12%;
    display: inline-block;
    text-align: center;
}

#HeaderImageUrlFileUploadNotification {
    padding: 8px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

    #HeaderImageUrlFileUploadNotification ul {
        line-height: 1.5;
        font-size: 0.8em;
        width: 38%;
    }

        #HeaderImageUrlFileUploadNotification ul li {
            margin-bottom: 10px;
        }

/*----------------------------end image upload-----------------------*/


/*-------------- begin icon, title and description --------------*/

.mainContent > .middle > .middleCenter > .headerIcon {
    margin: 20px 20px 20px 0;
}

.mainContent > .middle > .middleCenter > .headerText .headerTitle {
    margin: 20px 20px 0 80px;
}

.mainContent > .middle > .middleCenter > .headerText .headerDescription {
    margin: 8px 20px 8px 80px;
}
/*--------------- end icon, title and description -----------------*/


/**-------------------edits-----------------------------------------*/

@-webkit-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
#C88ECMVehicleLoanCalcuContainer {
  opacity:1;
  -moz-animation   : fadein 1.5s linear;
  -webkit-animation: fadein 1.5s linear;
  animation        : fadein 1.5s linear;
}

#C88ECMVehicleLoanCalcuContainer #loadMsg {
        margin: auto;
    text-align: center;
    margin-top: 16px;
    color: #3498db;
    font-weight: bold;
}
#C88ECMVehicleLoanCalcuContainer {
        width: 100%;
    /*max-width: 640px;*/

   background: rgba(10,94,130,1);
background: -moz-linear-gradient(top, rgba(10,94,130,1) 0%, rgba(38,169,225,1) 76%, rgba(38,169,225,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,94,130,1)), color-stop(76%, rgba(38,169,225,1)), color-stop(100%, rgba(38,169,225,1)));
background: -webkit-linear-gradient(top, rgba(10,94,130,1) 0%, rgba(38,169,225,1) 76%, rgba(38,169,225,1) 100%);
background: -o-linear-gradient(top, rgba(10,94,130,1) 0%, rgba(38,169,225,1) 76%, rgba(38,169,225,1) 100%);
background: -ms-linear-gradient(top, rgba(10,94,130,1) 0%, rgba(38,169,225,1) 76%, rgba(38,169,225,1) 100%);
background: linear-gradient(to bottom, rgba(10,94,130,1) 0%, rgba(38,169,225,1) 76%, rgba(38,169,225,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a5e82', endColorstr='#26a9e1', GradientType=0 );
    /*max-width: 550px;
    min-height: 850px;*/
        max-width: 100%;

}
    #C88ECMVehicleLoanCalcuContainer > .loanCalculatorMainContent {
        border: none;

    }
        #C88ECMVehicleLoanCalcuContainer > .loanCalculatorMainContent > .middle > .middleLeft {
        display:none;
        }

#C88ECMVehicleLoanCalcuContainer > .loanCalculatorMainContent > .top{
        background: none;
    color: #FFFFFF;
    font-weight:bold;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    padding-top:12px;
}


#C88ECMVehicleLoanCalcuContainer #LoanCalculatorIcon, #C88ECMVehicleLoanCalcuContainer #LoanCalculatorTitle, #C88ECMVehicleLoanCalcuContainer #LoanCalculatorDescription {
display:none;
}

#C88ECMVehicleLoanCalcuContainer #LoanCalculatorPropertiesTabControl > ul > li {
    display:none;
}
#C88ECMVehicleLoanCalcuContainer #LoanCalculatorIdPropertyDiv {
display:none;
}
#C88ECMVehicleLoanCalcuContainer .propertyPopover {
display:none;
}
#C88ECMVehicleLoanCalcuContainer .propertyDiv {
    float: none;
    display: inline-block;
    width: 48%;
     box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
}
#C88ECMVehicleLoanCalcuContainer .propertyDiv > input, .propertyDiv > select {
        vertical-align: middle;
    height: 24px;
        width: 100%;
    max-width: 300px;
}
#C88ECMVehicleLoanCalcuContainer .actionButtonGroup > .middle > .middleCenter {
    float: none;
}
#C88ECMVehicleLoanCalcuContainer #LoanCalculatorActionButtonGroup {
        margin: auto;
    text-align: center;
    display: block;
    float: none;
        margin: 0;
        width:100%;
}
#C88ECMVehicleLoanCalcuContainer .actionButtonGroup > .middle > .middleCenter > a {
background: #1c355e;
    padding: 16px;
    margin: 10px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #1c355e;
    border-radius: 8px;
    width: 124px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
#C88ECMVehicleLoanCalcuContainer .actionButtonGroup > .middle > .middleCenter > a:hover {
background: #28b3eb;
    border: 2px solid #28b3eb;
}
#C88ECMVehicleLoanCalcuContainer #ClearLoanCalculatorButton {
display:none;
}

#C88ECMVehicleLoanCalcuContainer #ComputationContainer {
    margin-top: 16px;
    margin-bottom: 0;
    /*padding-top: 24px;*/
    padding-bottom: 0;

}
#C88ECMVehicleLoanCalcuContainer > .loanCalculatorMainContent > .bottom {
display:none;
}

#C88ECMVehicleLoanCalcuContainer #ComputationHeaderSec1 {
color: #1c355e;
    font-weight: bold;
    padding-bottom: 0;
    /*background-image: url('Images/BlueHorizon/driveDream.png');
        background-size: 100%;
    height: 52px;
    background-repeat: no-repeat;*/
    width: 100%;
        max-width: 550px;
    margin: auto;
        margin-bottom: -4px;
}
    #C88ECMVehicleLoanCalcuContainer #ComputationHeaderSec1 span {
        color: #8ecae3;
    font-size: 24px;
    
    }

#C88ECMVehicleLoanCalcuContainer #ComputationHeaderSec1 img{

    width: 100%;
        max-width: 550px;

}

#C88ECMVehicleLoanCalcuContainer #ComputationMonthlyContent {
    /*margin-top: 16px;*/
    margin-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #8fcae3;
}
#C88ECMVehicleLoanCalcuContainer #MonthlyPriceComputation {
    font-size: 42px;
    color: #0c6a92;
    font-weight: bold;
    line-height: 52px;
}
#C88ECMVehicleLoanCalcuContainer #MonthlyLabel {
    color: #0c6a92;
    font-weight: bold;
        line-height: 12px;
    padding-bottom: 8px;
}
#C88ECMVehicleLoanCalcuContainer #ComputationDetailsContent > table {
        margin: auto;
    text-align: left;
        width: 100%;
    max-width: 100%;
        max-width: 550px;
}
#C88ECMVehicleLoanCalcuContainer #ComputationDetailsContent > table td {
padding:0;
    max-width: 150px;
    display: inline-block;
    margin: auto;
    text-align: center;
        color: #ffffff;
    font-size: 12px;
     padding-right: 8px;
    padding-left: 8px;
}
#C88ECMVehicleLoanCalcuContainer #LoanCalculatorActionButtonGroup .button img{
    /*display:none;*/
        max-width: 550px;
        width: 100%;
}
#C88ECMVehicleLoanCalcuContainer #AmountOfLoanValueTextBox {
    background: #04435d;
    padding-left: 8px;
    box-sizing: border-box;
}
#C88ECMVehicleLoanCalcuContainer #LoanCalculatorForm #GeneralTabContent{
        padding: 12px;
}
#C88ECMVehicleLoanCalcuContainer #ComputationHeader {
    padding: 0;

background-repeat: no-repeat;
background-size:cover;
}



#C88ECMVehicleLoanCalcuContainer #LoanCalculatorForm {
    padding: 16px;
    box-sizing: border-box;
    padding-top:0;
        padding-bottom: 0;
}

#C88ECMVehicleLoanCalcuContainer .propertyDiv > .propertyNameLabel {
    width: 100%;
    display: block;
    color:#ffffff;
    font-weight:bold;
}
#C88ECMVehicleLoanCalcuContainer .propertyDiv > .propertyDisplayValueTextBox, #C88ECMVehicleLoanCalcuContainer .propertyDiv > .propertyValueTextBox {
    height: 36px;
    vertical-align: middle;
    border: 1px solid #8fcbe4;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 8px;
    width: 100%;
    display: inline-block;
    float: none;
    max-width: 100%;
        background: #04435d;
    color: aliceblue;
}

#C88ECMVehicleLoanCalcuContainer #LoanCalculatorPropertiesTabControl > ul {
    display:none;
}
#C88ECMVehicleLoanCalcuContainer #LoanCalculatorForm #GeneralTabContent {
        padding-top: 0;
        text-align: center;
}

#C88ECMVehicleLoanCalcuContainer #ComputationDetailsContent {
    color: #ffffff;
        font-size: 14px;
    margin-bottom: 8px;
}

#C88ECMVehicleLoanCalcuContainer #ComputationDetailsContent tr:nth-child(1){
    padding: 0;
    display: block;
        text-align: center;
    margin: auto;
        padding-top: 12px;
        line-height: 12px;
}
#C88ECMVehicleLoanCalcuContainer #ComputationDetailsContent tr:nth-child(2){
    display: block;
        padding-bottom: 8px;
            text-align: center;
    margin: auto;
}
#C88ECMVehicleLoanCalcuContainer #ApplyContainer a{
       /*background-image: url('Images/BlueHorizon/carBG-Apply.png');
    background-repeat:no-repeat;
    background-size: 100%;*/

    display: block;
    margin:auto;
    margin-top: -3px;
        max-width: 550px;
            /*height: 243px;*/
        
}
#C88ECMVehicleLoanCalcuContainer .loanCalculatorMainContent > .middle > .middleRight {
display:none;
}

#C88ECMVehicleLoanCalcuContainer #ComputationDetailsContent, #C88ECMVehicleLoanCalcuContainer #ComputationDetailsContent table, #C88ECMVehicleLoanCalcuContainer #ComputationDetailsContent tr, #C88ECMVehicleLoanCalcuContainer #ComputationDetailsContent td{
    background:none;
    border: none;
        padding: 0;
    margin: auto;
}

#C88ECMVehicleLoanCalcuContainer label {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}
#ComputationHeaderSec1 img {
    vertical-align: initial;
}

#C88ECMVehicleLoanCalcuContainer select {
    -webkit-appearance: menulist !important;
}
    #C88ECMVehicleLoanCalcuContainer select.disabledSelect {
    -webkit-appearance: none !important;
    }
#C88ECMVehicleLoanCalcuContainer #ApplyContainer img {
    width: 100%;
    max-width: 450px;
}

#C88ECMVehicleLoanCalcuContainer.minCalcuContainer #MonthlyPriceComputation {
    font-size: 32px;
    line-height: 52px;
}

#C88ECMVehicleLoanCalcuContainer.minCalcuContainer #LoanCalculatorForm #GeneralTabContent {
    padding: 0px;
}

#C88ECMVehicleLoanCalcuContainer #CalculatorLogo {
    background-image: url(Images/BlueHorizon/logo-header.png);
    background-size: contain;
    width: 148px;
    height: 37px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.actionButtonGroup > .middle > .middleLeft {
display:none
}
/**-------------------end edits------------------------------------*/

/*--------------- begin responsive template --------------------*/




/*---For iframe adjustment*/
/*---*/
@media(max-width: 481px) {
#ComputationHeader {
    /*padding: 14px;*/
}
}
@media(max-width: 479px) {
.tabContent .propertyDiv > .propertyNameLabel {
    /*width: 30%;*/
}
.tabContent .propertyDiv > .propertyValueTextBox, .propertyNotification {
    /*width: 60%;*/
}
.tabContent .propertyDiv > .propertyNameLabel {
    font-size: 14px;
}
}
@media(max-width: 449px) {
#ComputationHeaderSec1 {
    font-size: 18px;
}
#ComputationHeaderSec2 {
    font-size: 14px;
}
/*#ApplyLoanCalculatorButton {
    padding: 10px;
    width: 124px;
    font-size: 14px;
}*/
    #MonthlyPriceComputation {
    font-size: 32px;
    line-height: 44px;
    }
        #C88ECMVehicleLoanCalcuContainer #MonthlyPriceComputation {
    font-size: 32px;
    line-height: 52px;
    }
}
@media(max-width: 400px) {
    .tabContent .propertyDiv > .propertyNameLabel {
    width: 34%;
    }
    .tabContent .propertyDiv > .propertyValueTextBox, .propertyNotification {
    /*width: 50%;*/
    }
}
@media(max-width: 352px) {
    .tabContent .propertyDiv {
        text-align: left;
        width: 48%;
        display: inline-block;
    }
    .tabContent .propertyDiv > .propertyNameLabel {
    display: block;
    }
    #LoanCalculatorPropertiesTabControl > ul {
    display:none;
    }
    #MonthlyPriceComputation {
    font-size: 32px;
    line-height: 44px;
    }
    .tabContent .propertyDiv > .propertyValueTextBox, .propertyNotification {
    /*width: 85%;*/
    }
    #C88ECMVehicleLoanCalcuContainer > .loanCalculatorMainContent > .top {
        font-size: 12px;
    }
    #ComputationDetailsContent > table td {
    padding: 4px;
    font-size:14px;
    }
        #DownpaymentComputation {
        box-sizing: border-box;
    }
    #ComputationDetailsContent > table td {
    padding: 4px;
    font-size: 12px;
    padding-left: 16px;
    }
}
@media(max-width: 299px) {
    #DownpaymentComputation {
        box-sizing: border-box;
    }
    #ComputationDetailsContent > table td {
    padding: 4px;
    font-size: 12px;
    padding-left: 16px;
    }
    #MonthlyPriceComputation {
        font-size: 24px;
    line-height: 24px;
    }
    #MonthlyLabel {
    font-size: 14px;
    }
    .tabContent .propertyDiv > .propertyNameLabel {
    font-size: 12px;
    }
    .propertyDiv > .propertyDisplayValueTextBox, .propertyDiv > .propertyValueTextBox {
    height: 26px;
    }
}

@media(max-height: 779px) {
    #LoanCalculatorForm #GeneralTabContent {
    padding: 4px;
    }
}
@media(max-height: 763px) {
    #LoanCalculatorForm #GeneralTabContent {
    padding: 2px;
    }
}
@media(max-height: 759px) {
    .propertyDiv > .propertyDisplayValueTextBox, .propertyDiv > .propertyValueTextBox {
    height: 32px;
    }
}
@media(max-height: 727px) {
    #ComputationHeader {
        /*padding: 20px;*/
    }
}
@media(max-height: 703px) {
    #ComputationHeader {
        /*padding: 16px;*/
    }
    #ComputationMonthlyContent {
    padding-top: 8px;
    padding-bottom: 14px;
    }

}
@media(max-height: 681px) {
    #ComputationHeaderSec1 {
        font-size: 18px;
    }
    #ComputationHeaderSec2 {
    font-size: 14px;
    }

}
@media(max-height: 669px) {
#MonthlyPriceComputation {
    font-size: 36px;
    line-height: 44px;
}

}
@media(max-height: 649px) {
/*#ApplyLoanCalculatorButton {
    padding: 12px;
    margin: 6px;
   width: 124px;
   
}*/
#ComputationHeaderSec1 {
    font-size: 14px;
}
#MonthlyPriceComputation {
    font-size: 28px;
    line-height: 32px;
}
}
@media(max-height: 633px) {
#ComputationDetailsContent > table td {
    padding: 4px;
    font-size: 14px;
}
    #DownpaymentComputation {
        box-sizing: border-box;
    }
    #ComputationDetailsContent > table td {
    padding: 4px;
    font-size: 12px;
    padding-left: 16px;
    }
}
@media(max-height: 613px) {
#ComputationContainer {
    margin-top: 4px;
    margin-bottom: 12px;
}

}
@media(max-height: 597px) {
    .tabContent .propertyDiv {
        text-align: left;
        width: 48%;
        display: inline-block;
    }
    .tabContent .propertyDiv > .propertyNameLabel {
    display: block;
    }
}
@media(max-height: 589px) {
.tabContent .propertyDiv {
    margin: 0;
}
}
@media(max-height: 557px) {
#LoanCalculatorForm {
    padding: 10px;
}
    #C88ECMVehicleLoanCalcuContainer > .loanCalculatorMainContent > .top {
    font-size: 12px;
    }
    #LoanCalculatorPropertiesTabControl ul{
    display:none;
    }
}

@media(max-height: 533px) {
#ComputationMonthlyContent {
    padding-top: 4px;
    padding-bottom: 8px;
    margin-bottom:4px;
}
/*#ApplyLoanCalculatorButton {
    padding: 8px;
    margin: 6px;
    font-size: 13px;
}*/
}
@media(max-height: 508px) {
#LoanCalculatorForm #GeneralTabContent {
    padding: 0px;
}
.propertyDiv > .propertyDisplayValueTextBox, .propertyDiv > .propertyValueTextBox {
    height: 25px;
}
}










/*--------------- end responsive template ----------------------*/


#IconImagePropertyDiv, #HeaderIconImagePropertyDiv {
    display: none;
}
/*------------------------  begin account -------------------------*/

#FederationWorkspaceEditPersonalInformationListViewItem,
#FederationWorkspaceEditContactDetailsListViewItem {
    display:none;
}

/*--------------------------  end account ----------------------*/